<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Not Found</title>-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar navbar-light bg-danger">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">-->
<!--            <img src="/styles/assets/m_w.png" width="75" height="75" class="d-inline-block align-top">-->
<!--        </a>-->
<!--    </div>-->
<!--</nav>-->


<!--<div class="alert alert-warning" role="alert">-->
<!--    <strong>Error!</strong> this meme is not found-->
<!--</div>-->




<!--<footer style="padding: 8px;background-color: #990033;bottom: 0;margin: 0 auto;text-align: center;width:100%;position:relative;">-->
<!--    <div>-->
<!--        <img src="/styles/assets/m_w.png"  width="75" height="75">-->
<!--    </div>-->

<!--    <div >-->
<!--        <a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a>-->
<!--        <a href="https://www.instagram.com/_v_prajapat/"><i class="fa fa-instagram fa-2x"></i></a>-->
<!--        <a href="https://www.linkedin.com/in/vishal-prajapat-3b721619b/"><i class="fa fa-linkedin fa-2x"></i></a>-->
<!--    </div>-->

<!--</footer>-->

<!--</body>-->
<!--</html>-->